/* CSS by Fatima Rodriguez */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  background:var(--blue-bulletin);
  color: var(--watchdog-white);
  font-weight: 700;
  left: 50%;
  padding: 4px 10px;
  position: absolute;
  transform: translateY(-100%);
}



/* ///ADD/// Navigation Styles */

.mobile-nav {
  background-color: var(--blue-bulletin);
  text-align: center;
  padding-bottom:0.5rem;
}

.menu-button {
  display: inline-block;
  color:var(--watchdog-white);
  font-weight: bold;
  padding:0.5rem 0.5rem;
}

.menu li{
  margin: 0.5rem 0;
}
.menu li a{
  display:inline-block;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: bold;
}

/* ///ADD/// Global Layout Styles */
body{
  font-family: var(--font-body);
  line-height: 1.6;
  padding: 1em;
}
main{
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}
/* ///ADD/// Global Text Styles */


h1{
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 50px;
  color:var(--watchdog-white);
  background-color: var(--blue-bulletin);
  text-align: center;
  padding: repeat(4, 0.5em);
}
.tagline{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: repeat(4, 0.5em);
  color:var(--watchdog-white);
  background-color: var(--blue-bulletin);
  padding:0 1rem 1rem 1rem;

}
h2{
  font-family: var(--font-heading);
  font-size: 30px;
  padding: 0.5em;
  color:var(--blue-bulletin);
}

a {
  text-decoration: none;
  color: inherit;
}
blockquote{
  font-family: var(--font-heading);
  font-weight:bold;
  text-align: center;
  font-size: 20px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.news-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

.news{
  background-color: var(--news-flash);
  color:var(--watchdog-white);
  box-shadow: var(--shadow);
}

.news h3{
  border-bottom: 2px solid var(--watchdog-white);
}

.news video{
  display: block;
  max-width: 100%;
  height: auto;
}

.featured-articles-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom:1em;
}

.featured-article{
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  border: 1px solid var(--story-subtitle);
  box-shadow: var(--shadow);
}

.featured-article h3{
  border-bottom: 2px solid var(--story-subtitle);
  font-size:20px
}

.featured-article p{
  font-size: 16px;
  padding:0.5em;
}

/* ///ADD/// medium styles 620px */
@media (max-width: 620px) {
  
} 

/* ///ADD/// large styles 920px */
@media (max-width: 920px) {
  
}

/* ///ADD/// x-large styles 1024px */
@media (max-width: 1024px) {
  
} 


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}